@mixin defaultCardStyle(
  $border-size: 4px,
  $shadow-size: 4px,
  $border-radius: 16px,
  $border-color: var(--color-primary)
) {
  border: $border-size solid $border-color;
  box-shadow: $shadow-size $shadow-size $border-color;
  border-radius: $border-radius;
}
