@use "/src/util/clr";

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  @include clr.defaultCardStyle;
  background: white;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  gap: 12px;
}

.backBtn,
.nextBtn {
  background: white;
  width: max-content;
  padding: 12px 48px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 24px;
  transition: background 0.2s, color 0.2s;
  @include clr.defaultCardStyle;
}

.backBtn {
  @include clr.defaultCardStyle;
}

.backBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nextBtn {
  background: #fff;
  color: var(--color-primary);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 19rem;
  font-size: 1.5rem;

  .loader {
    display: block;
    width: 3rem;
    height: 3rem;
    position: relative;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #ff00a2;
    transform: translate(-50%, -100%) scale(0);
    animation: push_401 2s infinite linear;
  }

  .loader:after {
    animation-delay: 1s;
  }

  @keyframes push_401 {
    0%,
    50% {
      transform: translate(-50%, 0%) scale(1);
    }

    100% {
      transform: translate(-50%, -100%) scale(0);
    }
  }
}

@media only screen and (max-width: 768px) {
  .formContainer {
    min-width: 320px;
    padding: 1.25rem 0.75rem;
    gap: 1.25rem;
    @include clr.defaultCardStyle(3px, 3px, 10px);

    .controls {
      button {
        padding: 14px;
        font-size: 16px;
        @include clr.defaultCardStyle(2px, 2px, 10px);
      }
    }

    .loadingContainer {
      h1 {
        font-size: 14px;
      }
    }

    .loader {
      width: 24px;
      height: 24px;
    }

    .loader:before,
    .loader:after {
      width: 20px;
      height: 20px;
    }
  }
}
