@use "/src/util/clr";

.hero {
  height: 60vh;
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  color: var(--color-primary);

  .header {
    font-size: 108px;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
  }

  .welcome {
    width: 40rem;
    text-align: center;
    font-size: 24px;
  }

  .buttonGroup {
    display: flex;
    padding: 16px;
    gap: 32px;
    font-size: 24px;

    .start {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 32px;
      border-radius: 16px;
      color: var(--color-primary);
      @include clr.defaultCardStyle;
      background: #fff;
    }

    .model {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 32px;
      border-radius: 16px;
      background: var(--color-primary);
      color: #fff;
      @include clr.defaultCardStyle;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    max-width: 768px;
    width: 100%;
    align-items: flex-start;
    margin-top: 2rem;

    .header {
      font-size: 48px;
      line-height: 48px;
      text-align: left;
    }
    .welcome {
      width: 100%;
      text-align: left;
      font-size: 14px;
    }

    .buttonGroup {
      padding: 0;
      gap: 8px;

      .start {
        padding: 10px;
      }

      .model {
        padding: 10px;
      }

      a {
        font-size: 20px;
      }
    }
  }
}
