@use "/src/util/clr";

.categories {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px;
  gap: 72px;
  border-radius: 56px;

  .header {
    color: clr.$text-color;
    font-size: 72px;
  }

  .lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
