@use "/src/util/clr";
.header {
  color: clr.$text-color;
  font-size: 3.75rem;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;

  .lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 32px;
  }
}
