@use "/src/util/clr";

.categories {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px;
  gap: 72px;
  border-radius: 56px;
  max-height: 300px;
  overflow-y: scroll;

  .header {
    color: clr.$text-color;
    font-size: 3.75rem;
  }

  .lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
