@use "/src/util/clr";

.nav {
  z-index: 3;
  top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.mobileMenuToggle {
  display: none;
  cursor: pointer;
  color: var(--color-primary);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.item {
  position: relative;
  padding: 8px 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .link {
    color: var(--color-primary);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s;
    padding: 8px 24px;
  }

  &:hover .link {
    color: var(--color-accent);
  }
}

.active {
  background: #fff;
  @include clr.defaultCardStyle;

  .link {
    color: var(--color-primary);
    font-weight: 500;
  }
}

// ============ Responsive ============

@media (max-width: 768px) {
  .nav {
    justify-content: space-between;
    z-index: 10;
  }

  .mobileMenuToggle {
    display: block;
    z-index: 5;
  }

  .list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .open {
    display: flex;
  }

  .item .link {
    font-size: 20px;
    padding: 12px 0px;
  }

  .item {
    height: 36px;
  }

  .active {
    border: none;
    box-shadow: none;

    .link {
      color: var(--color-primary);
      font-weight: 500;
    }
  }
}
