@use "/src/util/clr";

// navbar.module.scss

.nav {
  position: relative;
  z-index: 3;
  top: 12px;
  width: 100%;
  height: 72px;
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.item {
  position: relative;
  padding: 8px 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // ลิงก์ default
  .link {
    color: clr.$text-color;
    text-decoration: none;
    transition: color 0.2s;
    padding: 8px 24px;
  }

  &:hover .link {
    color: clr.$blue-button;
  }
}

// Style ของ active item (border + shadow + radius)
.active {
  @include clr.defaultCardStyle;

  // ลิงก์ข้างในก็เน้นสีเมื่อ active
  .link {
    color: clr.$text-color;
    font-weight: 500;
  }
}
