@use "/src/util/clr";

.btn {
  background: #fff;
  color: #2c3e50;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 16px;
  border: 4px solid clr.$text-color;
  // apply shadow
}

.active {
  /* เมื่อ active ก็ใช้ mixin อีกที เพื่อเน้นกรอบ+shadow */

  background: #7dcfff;
}
