// Adjust the margin of the page according to width or screen size

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    max-width: 430px;
    padding: 0.5rem;
  }
}
