@use "/src/util/clr";

.questionBox {
  width: 80%;
  display: grid;
  grid-template-columns: (1fr);
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
  @include clr.defaultCardStyle;
}

.questionCheckbox {
  width: 80%;
  border: 1px solid #000;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include clr.defaultCardStyle;
}

.title {
  font-size: 20px;
  color: clr.$text-color;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}
