@use "/src/util/clr";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-top: 56px;
}

.card {
  @include clr.defaultCardStyle;
  background: white;
  padding: 2rem;
}

.list {
  padding: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  .card {
    padding: 1rem;

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    li {
      font-size: 16px;
    }
  }
}
