@use "/src/util/clr";
.container {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: clr.$text-color;
}

.card {
  @include clr.defaultCardStyle;
  padding: 2rem;
  background: white;
}
