@use "/src/util/clr";
.container {
}

.categories {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

@media only screen and (max-width: 960px) {
  .categories {
    display: grid;
    grid-template-columns: auto;
    gap: 16px;
  }
}
