@use "/src/util/clr";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categories {
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
  gap: 24px;
}

@media only screen and (max-width: 960px) {
  .categories {
    display: grid;
    grid-template-columns: auto;
    gap: 16px;
  }
}
